<div class="container-fluid text-center bg-light p-5 mt-4">
  <p>This is a DEMO application (<a target="_blank" href="https://github.com/testsmith-io/practice-software-testing">GitHub repo</a>), used for software testing training purpose. | Banner photo
    by <a target="_blank" href="https://unsplash.com/@barnimages">Barn Images</a> on <a target="_blank" href="https://unsplash.com/photos/t5YUoHW6zRo">Unsplash</a>.</p>
  <p><a data-test="footer-sustainability" routerLink="/sustainability">Sustainability &amp; ESG</a></p>
  <p><a data-test="footer-about" routerLink="/about">About Us</a></p>
  <p><a data-test="footer-legal" routerLink="/legal">Legal</a></p>
  <p><a data-test="footer-privacy" routerLink="/privacy">Privacy &amp; GDPR</a></p>
</div>
