<div class="container mt-5" data-test="about-page">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <h1 data-test="about-title">About Us</h1>

      <section class="mt-4">
        <p>
          ToolShop is committed to operating our business in an environmentally responsible, socially conscious,
          and ethically governed manner. Learn more about our values and commitments in our ESG Mission Statement.
        </p>
        <p>
          <a data-test="about-esg-link" routerLink="/sustainability">View our ESG Mission Statement</a>
        </p>
      </section>
    </div>
  </div>
</div>
